@import 'config';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito Sans', sans-serif;
}

li {
	list-style: none;
}

img {
	max-width: 100%;
	display: block;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.125rem;
}

p {
	font-size: 1rem;
	line-height: 1.8;
}

a {
	text-decoration: none;
	color: black;
}

button {
	outline: none;
	border: none;
	cursor: pointer;
	background: $secondaryColor;
	color: white;
	font-size: 1.125rem;
	font-weight: 700;
	width: 9.25em;
	height: 2.75em;
	border-radius: 8px;
}

.logo {
	position: relative;
	
	h1 {
		font-family: 'Unkempt', sans-serif;
		font-weight: 700;
		font-size: 3rem;

		&::before {
			content: '';
			position: absolute;
			left: -10%;
			top: 0;
			background-color: $primaryColor;
			width: 1.125em;
			z-index: -1;
			height: 1.125em;
			border-radius: 100em; 
		}
	}
}

.small-logo h1 {
	font-size: 2.25rem;
}

header {
	padding: 0 1.3125em .5em;
	margin: 1em 0 4em;
	border-bottom: 1px solid black;
	
	& > nav {
		@extend %flex-c;
		flex-direction: column;
		align-items: center;
	}
}

main, footer {
	padding: 0 1.3125em;
}

.navbar {
	@extend %flex-c;
	flex-direction: column;
	align-self: stretch;
	display: none;
	& > li {
		margin: .5em 0;
	} 

	// & > li:last-child::before {
	// 	content: '';
	// 	background-color: black;
	// 	width: 25%;
	// 	height: 1px;
	// 	display: block;
	// }
}

#menu-icon {
	@extend %flex-c;
	margin: 1em 0 0;
	flex-direction: column;
	cursor: pointer;
	width: 1.5em;
	align-self: flex-start;
	& > span {
		width: 100%;
		height: 2px;
		background-color: black;
		margin: .125em 0;
	}
}

section {
	margin-bottom: 12em; 
}

.ils > img {
	max-width: 80%;
	margin: auto;
}

.hero-section {
	@extend %flex-c;
	flex-direction: column;
	align-items: flex-start;
	p {
		margin: 1em 0 1.5em;
	}

	& > div:last-of-type {
		margin-top: 1.5em;
		align-self: center;
	}

}

.life-section {
	@extend %flex-c;
	flex-direction: column-reverse;
	text-align: center;
	
	& > div:first-of-type {
		margin-top: 1.5em;
	}
	
	p {
		margin-top: 1em;
	}

}

.exp-section {
	text-align: center;
	hr {
		width: 15%;
		margin: 1em auto;
		border-top: none;
		border: 1px solid $secondaryColor;
	}
}

.exp-container {
	& > div {
		@extend %flex-c;
		flex-direction: column;
		margin: 2em 0;
		& > span {
			@extend %flex-c;
			margin-bottom: .25em;
		}
		h3 {
			margin-left: .5em;
		}
	}
}

.email-section {
	@extend %flex-c;
	flex-direction: column;
	align-items: flex-start;

	p {
		margin: 1em 0 2em;
		color: #828282;
	}

	& > div:last-of-type {
		margin-top: 2em;
		align-self: center
	}

	form {
		@extend %flex-c;
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 3em;

		& > input {
			padding: 1em;
			font-weight: 300;
			align-self: stretch;
			border-radius: 8px;
			margin-bottom: 1em;
			outline: none;
			border: 1px solid #e0e0e0;
		}
	}
}

footer {
	@extend %flex-c;
	flex-direction: column;
	padding-bottom: 3em;
	hr {
		border: 2px solid #EBEAED;
		width: 100%;
		border-top: none;
		margin: 2em 0;
	}
}

.navbar-footer {
	@extend %flex-c;
	flex-direction: column;
	margin: 1.5em 0 0;

	& > li {
		margin: .5em 0;
	}
}

.social-network {
	@extend %flex-c; 
	flex-direction: column-reverse;

	p {
		color: rgba(21, 20, 57, 0.4);
	}

	& > div {
		@extend %flex-c;
		margin-bottom: 2em;
		& > a {
			margin: 0 1em;
		}
	}
}

@media (min-width: 992px) {

	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 2.25rem;
	}

	h3 {
		font-size: 1.625rem;
	}

	p {
		font-size: 1.25rem;
	}

	button {
		font-size: 1.25rem;
		width: 11.25em;
		height: 3.09em;
	}

	main {
		// padding: 0 10.625em 0;
		padding: 0 3.125em;
	}

	.hero-section, .life-section, .email-section {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		text-align: left;
		align-items: center;
	}

	.exp-container {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin-top: 4em;
		text-align: left;

		& > div {
			flex: 1;
			margin: 0 2em;
			align-items: flex-start;
		}
	}

	.ils:nth-child(2) {
		margin-left: 2em;
	}

	.ils:nth-child(1) {
		margin-right: 2em;
	}


	#menu-icon {
		display: none;
	}

	.navbar, .navbar-footer {
		display: flex;
		flex-direction: row;
		margin: 0;
		li {
			margin: 0 1em;
		}
	}

	header {
		padding: 0 3.125em .5em;
		border: none;
		& > nav {
			flex-direction: row;
		}
	}

	.footer-top, .social-network {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		& > div {
			margin: 0;
		}
	}

	footer {
		padding-left: 3.125em;
		padding-right: 3.125em;
	}

}

@media (min-width: 1200px) {

	header {
		padding: 0 10.625em .5em;
	}

	main {
		padding: 0 10.625em 0;
	}

	footer {
		padding-left: 10.625em;
		padding-right: 10.625em;
	}

}